@import "nullstyle";

@font-face {
    font-family: minecraft;
    src: url("/fonts/F77 Minecraft.ttf");
}

$color_white: #ffffff;
$color_main: #2b2929;
$color_purple: #7e57c2;
$color_gold: #ffd464;
$blur_bg: blur(5px);

* {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $color_main;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color_gold;
        border-radius: 4px;
    }
}



body {
    height: 100%;
    font-weight: 500;
    font-family: minecraft;
    &.scroll-lock {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1076px;
    padding: 0 15px;
}

.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    left: 0;
    top: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 41, 41, 1);
        z-index: 2;
        box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
        transition: height 0.3s ease, background-color 0.3s ease;
    }

    &__transparent:before {
        height: 0;
        background-color: rgba(43, 41, 41, 0);
    }

    &__login {
        position: relative;
        z-index: 3;
    }

    &__body {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 60px;
        justify-content: space-between;
    }

    &__logo {
        font-weight: 900;
        font-size: 24px;
        color: $color_white;
        z-index: 3;
    }

    &__menu-list {
        z-index: 3;
    }

    &__menu-burger {
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        display: none;
        z-index: 3;

        span, &:before, &:after {
            content: '';
            left: 0;
            position: absolute;
            background-color: $color_purple;
            width: 100%;
            height: 2px;
            transition: transform 0.3s ease, color 0.3s ease;
        }

        span {
            top: 9px;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        &.active {
            span, &:before, &:after {
                background-color: $color_gold;
            }

            span {
                transform: rotate(180deg);
            }

            &:before {
                transform: translateX(15px) translateY(3px) rotate(45deg);
                width: 60%;
            }

            &:after {
                transform: translateX(15px) translateY(-3px) rotate(-45deg);
                width: 60%;
            }
        }
    }
}

.menu-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 0 15px;
    }

    &__link {
        color: $color_white;
        font-weight: 500;
        line-height: 24 / 12 * 100%;
        transition: color ease 0.3s;

        &:hover {
            color: $color_gold;
        }
    }
}

/* */
.main {
    flex: 1 1 auto;

    &__main-block {
        position: relative;
        min-height: 100vh;
        background: linear-gradient(to bottom, transparent -50%, $color_main 100%);
    }
}

.main-block {
    &__body {
        padding: 180px 0 190px 0;
        max-width: 700px;
        z-index: 10;

        > *:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }

    &__title {
        font-size: 60px;
        color: $color_white;
        line-height: 80 / 60 * 100%;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 1.5;
        color: $color_white;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    &__bg-image {
        img {
            position: absolute;
            object-position: center;
            object-fit: cover;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}


.btn {
    font-weight: 500;
    border-radius: 15px;
    display: flex;
    min-height: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px 0;

    &.purple {
        color: $color_white;
        background-color: $color_purple;
        transition: background-color ease 0.3s;

        &:hover {
            color: $color_purple;
            background-color: $color_gold;
        }
    }

    &.outline-purple {
        color: $color_purple;
        border: 2px solid $color_purple;
        transition: color ease 0.3s, border-color ease 0.3s;

        &:hover {
            color: $color_gold;
            border: 2px solid $color_gold;
        }
    }
}

.arrow-btn__link {
    position: relative;
    left: calc(50% - 25px);
    bottom: 100px;
    height: 50px;
    width: 50px;
    border: 2px solid $color_purple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color ease 0.3s, border-color ease 0.3s;
    animation: floating;
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: floating;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    color: $color_purple;
    font-size: 24px;

    &:hover {
        border: 2px solid $color_gold;
        color: $color_gold;
    }
}


.main-section {
    padding: 40px 0;
    position: relative;

    &.dark {
        background-color: $color_main;
    }

    &.light {
        background-color: $color_white;
    }

    &__header {
        text-align: center;

        &.header__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 60 / 24 * 100%;

            &.light {
                color: $color_gold;
            }

            &.dark {
                color: $color_purple;
            }
        }

        &.header__subtitle {
            font-size: 16px;
            line-height: 30 / 16 * 100%;

            &.light {
                color: $color_white;
            }

            &.dark {
                color: $color_main;
            }
        }
    }

    &__body {
        padding: 20px 0;
        margin: 20px 0 0 0;
        position: relative;

        .vertical-line {
            position: absolute;
            display: inline-block;
            top: 0;
            left: calc(50% - 3px);
            width: 6px;
            height: 100%;
            background-color: #ffd464;
            border-radius: 3px;
        }

        &.tb-line {
            position: relative;
            text-align: center;

            > button {
                margin: 0 auto;
            }

            &:after, &:before {
                content: "";
                position: absolute;
                left: 0;
                height: 6px;
                width: 100%;
                background-color: $color_gold;
                border-radius: 3px;
            }

            &:after {
                top: -20px;
            }

            &:before {
                bottom: -20px;
            }
        }
    }

    &__video {
        height: auto;
        max-width: 100%;
        padding: 5px 5px 3px 5px;
        background-color: $color_purple;

        video {
            width: 100%;
            max-height: 100%;
        }
    }
}

.statistics {
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 20px -15px;
    }

    &__column {
        padding: 15px 15px;
        flex: 0 1 25%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        padding: 30px;
        height: 100%;
        margin: 15px 0;
        background-color: $color_purple;

        > *:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }

    &__icon {
        font-size: 50px;
        color: $color_white;
    }

    &__value {
        font-size: 40px;
        color: $color_gold;
        line-height: 50 / 40 * 100%;
    }

    &__text {
        font-size: 16px;
        color: $color_white;
    }
}

/* */
.info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    &:not(:last-child) {
        margin-bottom: 50px;
    }

    &__image {
        flex: 0 1 48%;
        height: 300px;
        background-color: $color_purple;
        padding: 5px;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    &__about {
        position: relative;
        flex: 0 1 48%;
        height: 300px;
        background-color: $color_main;
        padding: 15px;
        box-shadow: 0 5px 10px 2px $color_main;

        .diagonal-line {
            top: 50%;
            left: calc(50% - 250px);
            transform: rotate(45deg);

            &, &:after, &:before {
                background-color: $color_gold;
                border-radius: 3px;
                position: absolute;
                height: 6px;
                width: 500px;
                z-index: -1;
            }

            &:before {
                content: '';
                top: 500%;
                left: calc(50% - 270px);
            }

            &:after {
                content: '';
                top: -500%;
                left: calc(50% - 230px);
            }
        }

        .about__title {
            font-size: 24px;
            line-height: 50 / 24 * 100%;
            text-align: center;
            color: $color_gold;
        }

        .about__text {
            font-size: 12px;
            line-height: 50 / 24 * 100%;
            color: $color_white;
        }
    }
}

/* */
.body__center-text {
    font-size: 32px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    color: $color_white;
}

/* */
.footer {
    width: 100%;
    background-color: $color_main;

    &__body {
        margin: 10px 0;
        min-height: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__copy {
        font-size: 16px;
        display: flex;
        justify-content: center;
        flex: 0 1 (100% / 3);
        color: $color_white;
    }

    &__author {
        font-size: 12px;
        display: flex;
        justify-content: left;
        flex: 0 1 (100% / 3);
        color: $color_white;

        a {
            color: $color_white;
            transition: color 0.3s ease;

            &:hover {
                color: $color_gold;
            }
        }
    }

    &__social-links {
        display: flex;
        justify-content: right;
        flex: 0 1 (100% / 3);

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            color: $color_purple;
            border-radius: 50%;
            border: 2px solid $color_purple;
            transition: color ease 0.3s, border-color ease 0.3s;

            &:hover {
                color: $color_gold;
                border-color: $color_gold;
            }
        }
    }
}

/* */
.horizontal-line {
    height: 6px;
    width: 100%;
    background-color: $color_gold;
    border-radius: 3px;
}

.notify-item {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 300px;
    display: flex;
    right: 0;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 20px;
    color: $color_white;
    background-color: $color_purple;
    transform: translate(110%, 0);
    transition: transform 0.3s ease;

    &.active {
        transform: translate(0, 0);
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &__text {
        line-height: 1.5;
    }

    &__close {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: $color_main;
        }
    }
}

/* */
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 41, 41, 0.8);
    backdrop-filter: $blur_bg;
    z-index: 999;
    transform: translate(0, -100%);
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }

    &__dialog {
        align-items: center;
        justify-content: center;
        display: flex;
        min-height: 100%;
        padding: 30px 10px;
    }

    &__content {
        background-color: $color_white;
        max-width: 800px;
        width: 100%;
        margin: 10px;
    }

    &__header {
        padding: 10px 20px;
        background-color: $color_purple;
        position: relative;
    }

    &__title {
        color: $color_gold;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
    }

    &__close {
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: $color_gold;
        }
    }

    &__body {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px 20px;
        max-height: 70vh;
        height: 100%;

        * {
            font-size: 14px;
            line-height: 1.5;
            color: $color_main;
        }
    }
}

.rules-list {
    list-style: none;

}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 1024px) {
    .info-block__about .diagonal-line {
        display: none;
    }

    .statistics__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 768px) {
    .header__menu-burger {
        display: block;
    }

    .header__login {
        display: none;
    }

    .header__menu-list {
        overflow: auto;
        position: fixed;
        align-items: center;
        justify-content: center;
        display: flex;
        top: 0;
        left: 100%;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 41, 41, 0.8);
        backdrop-filter: $blur_bg;
        transform: translate(0, 0);
        transition: transform 0.3s ease;

        &.active {
            transform: translate(-100%, 0);
        }
    }

    .menu-list {
        display: block;
        text-align: center;

        .menu-list__item {
            margin: 0 0 30px 0;
            font-size: 24px;
        }
    }

    .info-block__image {
        position: relative;
        flex: 0 1 100%;
        order: 1;
    }

    .main-section__body__info.info-block:not(:last-child):after {
        content: '';
        bottom: -25px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: $color_gold;
    }

    .info-block__about {
        flex: 0 1 100%;
        height: 100%;
        margin-bottom: 15px;
    }

    .main-section__body .vertical-line {
        display: none;
    }

    .footer__body > *:not(:last-child) {
        margin-bottom: 15px;
    }

    .footer__copy {
        flex: 0 1 100%;
        justify-content: center;
    }

    .footer__author {
        flex: 0 1 100%;
        justify-content: center;
    }

    .footer__social-links {
        flex: 0 1 100%;
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .main-block__title {
        font-size: 32px;
    }

    .main-block__subtitle {
        font-size: 16px;
    }

    .main-section__header {
        &.header__title {
            font-size: 20px;
            font-weight: 700;
            line-height: 30 / 16 * 100%;
        }

        &.header__subtitle {
            font-size: 14px;
            line-height: 1.5;
        }
    }

    .arrow-btn__link {
        bottom: 150px;
    }

    .statistics__body {
        margin: 10px -15px;
    }

    .statistics__item {
        padding: 20px;
    }

    .statistics__icon {
        font-size: 32px;
    }

    .statistics__value {
        font-size: 20px;
    }

    .info-block__about {
        .about__title {
            font-size: 16px;
        }

        .about__text {
            font-size: 10px;
        }
    }

    .info-block__image {
        height: 200px;
    }

    .main-block__buttons .btn {
        flex: 1 1 100%;
    }

    .statistics__column {
        flex: 0 1 100%;
    }

    .body__center-text {
        font-size: 24px;
    }

    .notify-item {
        width: calc(100% - 40px);
    }

}

@media (min-width: 497px) {
    .main-block__buttons .btn:not(:last-child) {
        margin-right: 10px;
    }
}